
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jack and Lucys Wedding</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Jack Taylor" />
 
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ url_for('static',filename='img/weddingfav.png') }} ">
	
	<link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href={{ url_for('static',filename='css/animate.css') }}>
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href={{ url_for('static',filename='css/icomoon.css') }}>
	<!-- <link rel="stylesheet" href="css/icomoon.css"> -->
	<!-- Bootstrap  -->
	<link rel="stylesheet" href={{ url_for('static',filename='css/bootstrap.css') }}>
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
	<!-- Superfish -->
	<link rel="stylesheet" href={{ url_for('static',filename='css/superfish.css') }}>
	<!-- <link rel="stylesheet" href="css/superfish.css"> -->
	<!-- Magnific Popup -->
	<link rel="stylesheet" href={{ url_for('static',filename='css/magnific-popup.css') }}>
	<!-- <link rel="stylesheet" href="css/magnific-popup.css"> -->
	
	<link rel="stylesheet" href={{ url_for('static',filename='css/style.css') }}>
	<!-- <link rel="stylesheet" href="css/style.css"> -->


	<!-- Modernizr JS -->
	<script src={ url_for('static',filename='js/modernizr-2.6.2.min.js') }}></script>
	<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src={ url_for('static',filename='js/respond.min.js') }}></script>
	<!-- <script src="js/respond.min.js"></script> -->
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
	
		<div class="fh5co-hero" data-section="home">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({{ url_for('static', filename='img/oldrecthastings.jpg') }})">
				<div class="display-t">
					<div class="display-tc">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<div class="animate-box">
									<h1>The Wedding of</h1>
									<h2>Jack &amp; Lucy</h2>
									<p><span style="background-color:rgba(255,182,193, 0.5);">10.09.2022</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				
				<img src="{{ url_for('static',filename='img/jackandlucy.jpeg') }}" class="img-fluid center-block shadow-lg p-3 mb-5 bg-body rounded" style="padding-bottom: 40px;">
				<h3 style="text-align: center;">Jack Taylor and Lucy Bamber</h3>
				
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<h2>Are Getting Married</h2>
							<p>On <strong>September 10th, 2022</strong> at <strong>The Old Rectory, Hastings</strong></p>
							<p>Address:<br><a href="https://theoldrectoryhastings.co.uk/">The Old Rectory</a><br>Harold Road, Hastings<br>East Sussex<br>TN35 5ND</p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.4541805554663!2d0.5941023159726883!3d50.859790979533955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47df1adf13fcc1fb%3A0xe814c821a6a4997a!2sThe%20Old%20Rectory!5e0!3m2!1sen!2suk!4v1637668024785!5m2!1sen!2suk" style="border:0; height: 50%; width: 50%;" allowfullscreen="" loading="lazy"></iframe><br>
							<br><a class="btn btn-primary" href="https://bit.ly/3wvB2O2" role="button" style="width: 70%">Book a Hotel</a><br> 
							<br><h3>Please click the link below and complete the form to confirm your attendance</h3>
							<a class="btn btn-primary" href="https://docs.google.com/forms/d/1aEvO-Tk5dKCuJ9KU01lVnyG-OK7kguj70d66XTslVNM/edit" role="button" style="height: 120%; width: 70%;">RSVP</a> 
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <div id="fh5co-countdown">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<p class="countdown">
						<span id="days"></span>
						<span id="hours"></span>
						<span id="minutes"></span>
						<span id="seconds"></span>
					</p>
				</div>
			</div>
		</div> -->

		<!-- <div id="fh5co-started" style="background-image: url({{ url_for('static', filename='img/oldrectory2.jpg') }}); background:"data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2>Are You Attending?</h2>
						<p>Please click the link below and complete the form to confirm your attendance</p>-->
					<!-- </div> -->
				<!-- </div>  -->

				<!-- <div class="row animate-box">
					<div class="col-md-10 col-md-offset-1">
						<form class="form-inline form" action="/form" name="form"> 
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="attending" class="sr-only">Attending?</label>
									<input type="radio" class="form-control" id="attending" placeholder="Attending" name="attending">
									<label for="attending">Yes</label>
									<input type="radio" class="form-control" id="notattending" placeholder="Not Attending" name="notattending">
									<label for="notattending">No</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="name" class="sr-only">Name(s)?</label>
									<input type="name" class="form-control" id="name" placeholder="Name(s)" name="name">
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="special" class="sr-only">Special RequirementsAllergies</label>
									<input type="text" class="form-control" id="special" placeholder="Special" name="special">
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="email" class="sr-only">Email</label>
									<input type="email" class="form-control" id="email" placeholder="Email" name="email">
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="tel" class="sr-only">Telephone</label>
									<input type="tel" class="form-control" id="tel" placeholder="Telephone" name="tel">
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</div>
						</form>
					</div>
				</div> -->
				<!-- <a href="https://bit.ly/3wvB2O2" class="btn btn-info" role="button">RSVP</a> -->
				
				<!-- <a class="btn btn-primary" href="https://bit.ly/3wvB2O2" role="button">RSVP</a> -->
				<!-- <button class="btn btn-primary" onclick="window.location.href='https://bit.ly/3wvB2O2'">RSVP</button> -->
				<!-- <button id="btn_link" class="btn btn-default"> <a href="https://bit.ly/3wvB2O2"> RSVP </a> </button> -->
			<!-- </div> -->
		<!-- </div> -->
		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<img src="{{ url_for('static',filename='img/weddingfav.png') }}" class="" style="padding-bottom: 5px; height: 35%; width: 35%;">
							<h2>We Hope to see you there!</h2>
						</div>
						<!-- <div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
						</div> -->
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<!-- jQuery -->
	<script src={ url_for('static',filename='dist/scripts.min.js') }}></script>
	<!-- <script src="dist/scripts.min.js"></script> -->
	</body>
</html>

